@font-face {
    font-family: ExtraBold;
    src: url(font/NunitoSans-ExtraBold.ttf);
}
@font-face {
    font-family: SemiBold;
    src: url(font/NunitoSans-SemiBold.ttf);
}
@font-face {
    font-family: Regular;
    src: url(font/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: Light;
    src: url(font/NunitoSans-Light.ttf);
}
body{
    margin: 0;
}

.hide{
    display: none;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
#title{
    font-family: ExtraBold;
    font-size: 14px;
    justify-content: flex-start;
    
}
#theme-Switch{
    display: flex;
    padding-left: 70px;
    font-family: SemiBold;
    font-size: 12px;
}

#search-Form {
    background-color: white;
    width: 343px;
    height: 48px;
    border-radius: 5px;
    display:flex;
    margin-top: 20px;
    margin-left: 16px;
    justify-content: space-evenly;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
}
#search-Input {
    all: unset;
    font: 12px Regular;
    color: black;
    height: 100%;
    width: 100%;
    margin-left: 30px;
}
::placeholder {
    color: #C4C4C4;
    font-family: Regular;
    font-size: 12px;
    opacity: 0.7; 
}
#search-Icon {
    color: #C4C4C4;
    fill: currentColor;
    width: 16px;
    height: 16px;
}
#search-Btn {
    all: unset;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.dropdown {
    font-family: Regular;
    font-size: 12px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    width: 200px;
    height: 48px;
    margin-left: 16px;
    margin-top: 30px;
}
.dropBtn {
    display: inline;
    background-color: white;
    color: #111517;
    padding: 16px;
    border: none;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownContent a {
    color: #111517;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdownContent a:hover {background-color: white;}
  
.dropdown:hover .dropdownContent {display: block;}


.countryCard{
    background-color: white;
    height: 336px;
    width: 264px;
    margin-left: 55.5px;
    margin-top: 30px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.294384);
    border-radius: 5px;
}
#country-Flag{
    height: 160px;
    border-radius: 5px 5px 0px 0px;
}
img{
    height: 100%;
    width: 100%;
    padding: 0;
}
#country-Name{
    color: #111517;
    margin-top: 25px;
    margin-left: 20px;
    font-family: ExtraBold;
    font-size: 18px;
}
.cardInfo{
    color: #111517;
    font-family: Light;
    padding-left: 20px;
    font-size: 14px
}
.cardInfo p{
    margin: 6px 0px;
}
.infoTitle{
    font-family: SemiBold;
    font-size: 14px;
}
#cards-Div{
    margin-bottom: 50px;
}

.focusedView{
    margin-left: 27.5px;
}

#back-Btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Light;
    width: 104px;
    height: 32px;
    margin-top: 30px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 2px;
}
#back-Btn2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Light;
    width: 104px;
    height: 32px;
    margin-top: 30px;
    margin-left: 27.5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 2px;
}
.largerImage{
    background-color: black;
    height: 229px;
    width: 320px;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
}
#country-NameLg{
    color: #111517;
    margin-top: 25px;
    font-family: ExtraBold;
    font-size: 18px;
}
.cardInfoLg{
    color: #111517;
    font-family: Light;
    font-size: 14px
}