@font-face {
    font-family: ExtraBold;
    src: url(font/NunitoSans-ExtraBold.ttf);
}
@font-face {
    font-family: SemiBold;
    src: url(font/NunitoSans-SemiBold.ttf);
}
@font-face {
    font-family: Regular;
    src: url(font/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: Light;
    src: url(font/NunitoSans-Light.ttf);
}
:root {
    --elements-color: white;
    --text-color: hsl(200, 15%, 8%);
    --background-color: hsl(0, 0%, 98%);
    --input-color: hsl(0, 0%, 52%);
}
[data-theme='dark']{
    --elements-color: hsl(209, 23%, 22%);
    --text-color: hsl(0, 0%, 100%);
    --background-color: hsl(207, 26%, 17%);
    --input-color: hsl(0, 0%, 52%);
}
body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}
.hide{
    display: none;
}
@media (max-width: 375px) {
    .header{
        background-color: var(--elements-color);
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80px;
        justify-items: center;
        align-items: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
    }
    #title{
        font-family: ExtraBold;
        font-size: 14px;
        justify-content: flex-start;
        
    }
    #theme-Switch{
        display: flex;
        padding-left: 70px;
        font-family: SemiBold;
        font-size: 12px;
    }
    #search-Form {
        background-color: var(--elements-color);
        width: 343px;
        height: 48px;
        border-radius: 5px;
        display:flex;
        margin-top: 20px;
        margin-left: 16px;
        justify-content: space-evenly;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
        border-radius: 5px;
    }
    #search-Input {
        all: unset;
        font: 12px Regular;
        height: 100%;
        width: 100%;
        margin-left: 30px;
    }
    ::placeholder {
        color: var(--input-color);
        font-family: Regular;
        font-size: 12px;
        opacity: 0.7; 
    }
    #search-Icon {
        width: 16px;
        height: 16px;
    }
    #search-Btn {
        all: unset;
        cursor: pointer;
        width: 16px;
        height: 16px;
        padding-left: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .dropdown {
        font-family: Regular;
        font-size: 12px;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
        border-radius: 5px;
        width: 200px;
        height: 48px;
        margin-left: 16px;
        margin-top: 30px;
    }
    .dropBtn {
        display: inline;
        background-color: var(--elements-color);
        padding: 16px;
        border: none;
    }
    .dropdownContent {
        display: none;
        position: absolute;
        background-color: var(--elements-color);
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdownContent a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdownContent a:hover {background-color: var(--elements-color);} 
    .dropdown:hover .dropdownContent {display: block;}
    .countryCard{
        background-color: var(--elements-color);
        height: 336px;
        width: 264px;
        margin-left: 55.5px;
        margin-top: 30px;
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.294384);
        border-radius: 5px;
    }
    #country-Flag{
        height: 160px;
        border-radius: 5px 5px 0px 0px;
    }
    img{
        height: 100%;
        width: 100%;
        padding: 0;
    }
    #country-Name{
        margin-top: 25px;
        margin-left: 20px;
        font-family: ExtraBold;
        font-size: 18px;
    }
    .cardInfo{
        font-family: Light;
        padding-left: 20px;
        font-size: 14px
    }
    .cardInfo p{
        margin: 6px 0px;
    }
    .infoTitle{
        font-family: SemiBold;
        font-size: 14px;
    }
    #cards-Div{
        margin-bottom: 50px;
    }
    .focusedView{
        margin-left: 27.5px;
    }
    #back-Btn{
        background-color: var(--elements-color);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: Light;
        width: 104px;
        height: 32px;
        margin-top: 30px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
        border-radius: 2px;
    }
    #back-Btn2{
        background-color: var(--elements-color);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: Light;
        width: 104px;
        height: 32px;
        margin-top: 30px;
        margin-left: 27.5px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
        border-radius: 2px;
    }
    .largerImage{
        height: 229px;
        width: 320px;
        margin-top: 60px;
        border-radius: 5px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    }
    #country-NameLg{
        margin-top: 25px;
        font-family: ExtraBold;
        font-size: 18px;
    }
    .cardInfoLg{
        font-family: Light;
        font-size: 14px
    }
    #border-Title{
        font-size: 16px;
        font-family: SemiBold;
    }
    .borderCountry{
        background-color: var(--elements-color);
        font-size: 12px;
        font-family: Light;
        height: 28px;
        width: 96px;
        margin-top: 15px;
        padding-top: 10px;
        text-align: center;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    }
    #border-Countries{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 30px;
    }
}
@media (min-width: 376px) {
    .header{
        background-color: var(--elements-color);
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80px;
        justify-items: center;
        align-items: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
    }
    #title{
        font-family: ExtraBold;
        font-size: 24px;
        justify-self: start;
        margin-left: 10%;
    }
    #theme-Switch{
        justify-self: end;
        display: flex;
        padding-left: 70px;
        font-family: SemiBold;
        font-size: 16px;
        margin-right: 10%;
    }
    .searchFilter{
        display: grid;
        grid-template-columns: 2;
    }
    #search-Form {
        width: 480px;
        height: 56px;
        border-radius: 5px;
        display:flex;
        margin-top: 20px;
        margin-left: 50px;
        justify-content: space-evenly;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.532439);
        border-radius: 5px;
    }
    #search-Input {
        all: unset;
        font: 12px Regular;
        height: 100%;
        width: 100%;
        margin-left: 30px;
    }
    ::placeholder {
        color: var(--input-color);
        font-family: Regular;
        font-size: 14px;
        opacity: 0.8; 
    }
    #search-Icon {
        fill: currentColor;
        width: 16px;
        height: 16px;
    }
    #search-Btn {
        all: unset;
        cursor: pointer;
        width: 16px;
        height: 16px;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 16px;
    }
    .dropdown {
        font-family: Regular;
        font-size: 12px;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.532439);
        border-radius: 5px;
        width: 200px;
        height: 48px;
        margin-left: 50px;
        margin-top: 30px;
        grid-column: 2;
        justify-self: end;
        margin-right: 10%;
    }
    .dropBtn {
        display: inline;
        background-color: var(--elements-color);
        color: var(--text-color);
        padding: 16px;
        border: none;
    }
    .dropdownContent {
        display: none;
        position: absolute;
        background-color: var(--elements-color);
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdownContent a {
        color: var(--text-color);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdownContent a:hover {background-color: var(--elements-color);} 
    .dropdown:hover .dropdownContent {display: block;}
    .countryCard{
        background-color: var(--elements-color);
        height: 336px;
        width: 264px;
        margin-left: 45px;
        margin-top: 30px;
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.294384);
        border-radius: 5px;
    }
    #country-Flag{
        height: 160px;
        border-radius: 5px 5px 0px 0px;
    }
    img{
        height: 100%;
        width: 100%;
        padding: 0;
    }
    #country-Name{
        margin-top: 25px;
        margin-left: 20px;
        font-family: ExtraBold;
        font-size: 18px;
    }
    .cardInfo{
        font-family: Light;
        padding-left: 20px;
        font-size: 14px
    }
    .cardInfo p{
        margin: 6px 0px;
    }
    .infoTitle{
        font-family: SemiBold;
        font-size: 14px;
    }
    #cards-Div{
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    .focusedView{
        margin-left: 27.5px;
    }
    #back-Btn{
        background-color: var(--elements-color);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: Light;
        width: 104px;
        height: 32px;
        margin-top: 30px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
        border-radius: 2px;
    }
    #back-Btn2{
        background-color: var(--elements-color);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: Light;
        width: 104px;
        height: 32px;
        margin-top: 30px;
        margin-left: 27.5px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
        border-radius: 2px;
    }
    #target{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .largerImage{
        height: 401px;
        width: 560px;
        margin-top: 60px;
        border-radius: 5px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
        grid-column: 1; 
    }
    #country-NameLg{
        margin-top: 50px;
        font-family: ExtraBold;
        font-size: 18px;
        grid-column: 2;
        grid-row: 1;
    }
    .cardInfo{
        grid-column: 2;
        grid-row: 1;
    }
    .extraInfo{
        margin-left: 300px;
        margin-top: -150px !important;
    }
    .cardInfoLg{
        font-family: Light;
        font-size: 14px;
        grid-column: 2;
        grid-row: 1;
        margin-top: 20%;
    }
    .borderSection{
        grid-column: 2;
        grid-row: 1;
    }
    #border-Title{
        font-size: 16px;
        font-family: SemiBold;
        grid-column: 2;
        grid-row: 1;
        margin-top: 400px;
    }
    .borderCountry{
        background-color: var(--elements-color);
        font-size: 12px;
        font-family: Light;
        height: 28px;
        width: 96px;
        margin-top: 15px;
        padding-top: 10px;
        text-align: center;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    }
    #border-Countries{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 30px;
        grid-column: 2;
        grid-row: 1;
    }
    #filtered-Div{
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    #search-Div{
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
    }
}